$cover-color: rgba(0, 0, 0, 0.1);

body {
  background: url(../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.query-box {
  margin-bottom: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & input {
    background-color: $cover-color;
    border: none;
    border-radius: 0 0 0 10px;
    appearance: none;
    flex-grow: 4;
    max-width: 73%;
    height: 100%;

    font-size: 20pt;
    color: #f1eeee;
    padding: 5px 10px;
    transition: 0.4s ease;

    &::placeholder {
      transition: 0.4s ease;
      color: #918d8d;
    }
    &:focus {
      background-color: rgba(0, 0, 0, 0.3);
      &::placeholder {
        color: #d6d2d2;
      }
    }
  }

  & button {
    flex-grow: 1;
    max-width: 25%;
    height: 100%;
    // box-shadow: inset -1px -3px 1px #afafaf, inset 1px 3px 1px #ffffff;
    background: $cover-color;
    border: none;
    border-radius: 0 0 10px 0;
    font-size: 18pt;
    padding: 5px 10px;
    color: #313131;
    transition: 0.4s ease;
    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

.output-box {
  position: relative;
  margin-top: 0;
  max-height: 80vh;
}
.chart-box {
  margin-bottom: 10px;
  width: 100%;
  height: 35vh;
  min-height: 250px;
  background-color: $cover-color;
  border-radius: 15px 15px 0 0;
  transition: 0.4s ease-in-out;
  & > #chart {
    position: relative;
    width: 100%;
    height: 250px;
    top: 50%;
    transform: translate(0, -50%);
    background-color: rgba(255, 255, 255, 0.7);
  }
}

.data-box {
  width: 100%;
  // height: 300px;
  height: 80vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border: 10px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  margin-bottom: 30px;
  transition: 0.4s ease-in-out;

  &::-webkit-scrollbar {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.7);
  }

  & > .data-list {
    padding: 10px;
    & .data-list__item {
      // margin: 0 auto;
      height: auto;
      list-style-type: none;
      margin-bottom: 20px;
      color: black;
      border: 1px solid black;
      border-radius: 33px;
      overflow: hidden;
      font-weight: 500;
      font-size: 18pt;
      text-align: center;
      transition: all 0.4s ease-in-out;
      &:hover .data-list__item-head,
      &:hover::after {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.9);
      }
      & .data-list__item-head {
        padding: 5px 10px;
        border-radius: 25px 25px 0 0;
        background: rgba(255, 255, 255, 0.8);
        position: relative;
        z-index: 1;
        overflow: hidden;
      }
      & .data-list__item-info {
        box-shadow: inset 0 8px 7px -4px black, inset 0 -8px 7px -4px black;

        background: rgba(0, 0, 0, 0.7);
        color: white;
        margin: 0 auto;
        width: 90%;
        max-height: 100vh;
        z-index: -1;
        overflow: hidden;

        font-size: 14pt;
        transition: all 0.4s ease-out;

        &.fold {
          max-height: 0;
        }
        & table {
          width: 100%;
          height: 100%;
          transition: 0.4s ease-in-out;
        }
        & th {
          padding: 5px 10px;
          font-size: 12pt;
          font-weight: 100;
          // text-align: center;
        }
        & td {
          padding: 5px 10px;
          &:first-child {
            text-align: left;
          }
          &:last-child {
            text-align: left;
          }
        }
      }
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 15px;
        border-radius: 0 0 25px 25px;
        position: relative;
        bottom: 0;
        background: rgba(255, 255, 255, 0.8);
      }
    }
  }
}

footer p {
  text-align: center;
  font-weight: 500;
  margin-top: 10px;
  max-height: 10vh;
}
